<launch>

    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 2.2 0 0 0 rplidar_link base_link 100" />

    
    <node pkg="Nodes" type="odom_publisher.py" name="odometry_publisher" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="base_broadcaster" args="0 0 0 0 0 0 base_link odom 100" /> 

    <!--<node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100" /> -->

</launch>
